.DS_Store
/build
bin
gen
local.properties
license.properties
lint.xml
.gradle
.idea/libraries
*.iml
.idea
*~
*/keystore
custom-versions/*
*.sw*
*.un~
*.exec
*gradle
*gradlew
gradlew.bat
gradle.properties
.travis.yml
libs/
android_app_bootstrap/src
android_app_bootstrap/build/generated
android_app_bootstrap/build/intermediates
android_app_bootstrap/build/tmp
android_app_bootstrap/build/outputs/logs
android_app_bootstrap/build/outputs/code-coverage
android_app_bootstrap/build/outputs/apk/androidTest
android_app_bootstrap/build/outputs/apk/debug/output.json
android_app_bootstrap/build/reports
reporter/
