.DS_Store
/build
bin
gen
local.properties
license.properties
lint.xml
.gradle
.idea/libraries
*.iml
.idea
*~
*/keystore
custom-versions/*
*.sw*
*.un~
*gradle
*gradlew
gradlew.bat
gradle.properties
.travis.yml
libs/
android_app_bootstrap/src
android_app_bootstrap/build/generated
android_app_bootstrap/build/intermediates
android_app_bootstrap/build/tmp
android_app_bootstrap/build/outputs/logs
